<h1>Sign up</h1>

<%= form_with model: @user, url: sign_up_path do |form| %>
    <div>
        <%= form.label :email %>
        <%= form.text_field :email, class:"form-control", placeholder:"email@example.com" %>
    </div>
    <div>
        <%= form.label :password %>
        <%= form.password_field :password, class:"form-control",placeholder:"password" %>
    </div>
    <div>
        <%= form.label :password_confirmation %>
        <%= form.password_field :password_confirmation, class:"form-control", placeholder:"password_confirmation"%> <!--#form.password_field affiche des rond noir-->
    </div>

    <div>
        <%= form.submit %>
    </div>

<% end %>

